---
layout: default
---

<article>

	<div class="center">
		<h1 class="title">{{ page.title }}</h1>
		<time class="code">{{ page.date | date: '%B %-d, %Y' }}</time>

		{% unless page.toc %}
		<p class="teaser">{{ page.teaser }}</p>
		{% endunless %}
	</div>
	
	<div class="divider"></div>

	{% if page.note %}
	<div class="danger" id="note-warning">
		Dieser Post ist wurde noch nicht überarbeitet und kann Rechtschreibefehler enthalten.
	</div>
	{% endif %}
	

	{% if page.toc %}
	<div class="article-meta clearfix">
		<div class="toc">
			<div class="toc-title">Inhalt:</div>
			{% include toc.html html=content class='toc' %}
		</div>
		<div class="teaser">
			{{ page.teaser }}
		</div>
	</div>
	
	<div class="divider"></div>
	{% endif %}

	{{ content }}

</article>

<div class="page-navigation code">
	{% if page.next.url %}
    <a class="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="NEXT: {{page.next.title}}">&lt;&lt;</a>
		<span> &middot; </span>
  	{% endif %}
		<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">Index</a>
  	{% if page.previous.url %}
		<span> &middot; </span>
    <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="PREV: {{page.previous.title}}">&gt;&gt;</a>
  	{% endif %}
</div>
